@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

h2 {
    font-family: 'Noto Sans KR';
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #6e1652;
    letter-spacing: -0.00625rem;
}

html {
    scrollbar-3dLight-Color: #efefef;
    scrollbar-arrow-color: #dfdfdf;
    scrollbar-base-color: #efefef;
    scrollbar-Face-Color: #dfdfdf;
    scrollbar-Track-Color: #efefef;
    scrollbar-DarkShadow-Color: #efefef;
    scrollbar-Highlight-Color: #efefef;
    scrollbar-Shadow-Color: #efefef;
    -ms-overflow-style: none;
    overflow: auto;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 15px;
}

/* 스크롤바의 width */
::-webkit-scrollbar-track {
    background-color: #704988;
}

/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #671991, #fe5b8a);
}

/* 스크롤바 색 */
::-webkit-scrollbar-button {
    display: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: -0.025rem;
    color: #000;
    line-height: 1.4;
}

/* 중요한 소스 */
.swiper-container {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: block;
    width: 160rem;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.gotop {
    position: fixed;
    /* right: 5rem; */
    left: calc(50% + 85rem);
    transform: translateX(-50%);

    bottom: 15rem;
    width: 5rem;
    height: 5rem;
    border: 0;
    background-color: #c43b65;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
    z-index: 999;
    cursor: pointer;
}

.gotop:hover {
    background-color: #f00;
}

.h2 {
    position: relative;
    display: block;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #6e1652;
    letter-spacing: -0.00625rem;
}

.wrap {
    position: relative;
    display: block;
}

/* 상단 영역 */
.header {
    position: fixed;
    width: 100%;
    display: block;
    z-index: 9999;
}

.header-active {
    background-color: #6e1652;
}

.header-active .header-main>li>a {
    color: #fff !important;
}

.header .container {
    position: relative;
    display: block;
}

.header-left {
    position: relative;
    display: block;
    float: left;
}

.header-logo {
    position: relative;
    /* left: -9rem;
    top: 1.5rem; */
    display: block;
    width: 14rem;
    height: 7.6rem;
    z-index: 999;
    margin-left: 9rem;
    margin-top: 2rem;
}

.header-right {
    position: relative;
    display: block;
    float: right;
}

.header-main {
    position: relative;
    display: block;
    margin-top: 3.2rem;
    margin-right: 4.5rem;
}

.header-main>li {
    position: relative;
    display: block;
    float: left;
}

.header-main>li>a {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
    margin-right: 3rem;
    color: #613937;
}

/* 비주얼 영역 */
.visual {
    position: relative;
    display: block;
    margin: 0 auto;
    background: url('../images/visual_main.png') #efd9d1 no-repeat 0 0;
    /*background-size: cover;*/
}

.visual .visual-bg {
    height: 97.8rem;
    /* background: url('../images/visual_main.png') no-repeat center;
    background-size: cover;*/
}

.visual-main {
    position: relative;
    display: block;
}

.main-img-icon {
    position: absolute;
    right: 0rem;
    top: 63rem;
    display: block;
    width: 21.9rem;
    height: 15.6rem;
    z-index: 999;
}

.sub-img-icon {
    position: absolute;
    left: 0rem;
    top: 62rem;
    display: block;
    width: 28.4rem;
    height: 34.9rem;
    z-index: 99;
}

.visual-tit {
    position: relative;
    display: block;
    z-index: 9999;
}

.visual-tit>a {
    position: absolute;
    right: 12.5rem;
    top: 26rem;
    width: 70rem;
    height: 40rem;
    display: block;
    background: url('../images/visual-tt.png') no-repeat;
}

/* 프로필 영역 */
.profile {
    position: relative;
    display: block;
    height: 106rem;
    background: url('../images/profile-bk.png') repeat-x;
}

.profile .container {
    height: 100%;
    /*background: url('../images/profile-bk.png') repeat-x;*/
}

.profile-left {
    position: absolute;
    left: 20.5rem;
    top: 13.5rem;
    width: 66.6rem;
    display: block;
}

.profile-left::after {
    content: '';
    position: absolute;
    left: 66.6rem;
    top: 10rem;
    width: 0.1rem;
    bottom: 0;
    display: block;
    background-color: #f4eeed;
}

.profile-par {
    position: relative;
    display: block;
    margin-bottom: 1rem;
}

.profile-title {
    position: relative;
    display: block;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #6e1652;
    letter-spacing: -0.00625rem;
    margin-bottom: 2.5rem;
}

.profile-bar {
    content: '';
    position: relative;
    display: block;
    width: 116.5rem;
    height: 0.1rem;
    background-color: #f4eeed;
    margin-bottom: 3.5rem;
}

.profile-tit {
    font-size: 2rem;
    font-weight: 500;
    color: #6e1652;
    letter-spacing: -0.0025rem;
    line-height: 1.75;
}

.profile-txt {
    font-size: 1.4rem;
    font-weight: 300;
    color: #63554E;
    letter-spacing: -0.0025rem;
    line-height: 1.75;
}

.profile-tit-icon {
    font-size: 2.2rem;
    font-weight: 500;
    color: #6e1652;
    letter-spacing: -0.0025rem;
    line-height: 1.75;
    margin-top: 3rem;
}

.skill-list {
    position: relative;
    display: block;
    margin-bottom: 1.5rem;
}

.skill-list > li {
    position: relative;
    display: block;
    overflow: hidden;
}

.skill-cate {
    display: block;
    width: 15%;
    float: left;
    font-size: 1.6rem;
    font-weight: 300;
    color: #63554E;
    letter-spacing: -0.0025rem;
    line-height: 1.75;
}

.skill-level {
    display: block;
    width: 20%;
    float: left;
    margin-top: 1.1rem;
}
/* photoshop 성취율 */
#skill_photoshop {
    width: 200px;
    height: 10px;
}

#skill_illust {
    width: 200px;
    height: 10px;
}

#skill_html {
    width: 200px;
    height: 10px;
}

#skill_css {
    width: 200px;
    height: 10px;
}

#skill_jquery {
    width: 200px;
    height: 10px;
}

.profile-right {
    position: absolute;
    right: 25rem;
    top: 26.2rem;
    display: block;
    width: 41rem;
    height: 65.4rem;
    background: url('../images/my.png') no-repeat;
}

.profile-img {
    position: absolute;
    right: -9rem;
    top: 57rem;
    display: inline-block;
    width: 21.9rem;
    height: 15.6rem;
}

/* 리디자인 영역 */
.redesign {
    position: relative;
    display: block;
    background-color: #fff;
}

.redesign .container {
    position: relative;
    display: block;
    height: 97.5rem;
}

.redesign-left {
    position: relative;
    display: block;
    float: left;
}

.redesign-main {
    position: absolute;
    left: 17.5rem;
    top: 18.5rem;
    display: block;
}

.redesign-main-list {
    position: relative;
    display: block;
    width: 48rem;
    height: 11rem;
    margin: 2rem 0;
}

.redesign-main-list:hover a {
    color: #6e1652;
}
.redesign-main-list-focus a{
    color: #6e1652 !important;

}

.redesign-main-list>h2 {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    /* margin-top: 18.5rem; */
    margin-bottom: 1.5rem;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #6e1652;
    letter-spacing: -0.00625rem;
}

.redesign-bar {
    content: '';
    position: absolute;
    left: 0;
    top: 8rem;
    display: block;
    width: 68.5rem;
    height: 0.1rem;
    background-color: #f4eeed;
    /* margin-bottom: 4rem; */
}

.redesign-number {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin-right: 2rem;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 2;
    color: #999;
}

.redesign-tit {
    position: absolute;
    left: 5.5rem;
    top: 0.3rem;
    display: block;
    font-size: 3rem;
    font-weight: 600;
    line-height: 2;
    color: #999;
}

.redesign-txt {
    position: absolute;
    left: 5.5rem;
    top: 6.5rem;
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75;
    color: #999;
    letter-spacing: -0.0425rem;
}

.redesign-right {
    position: relative;
    display: block;
    float: right;
}

.redesign-box {
    position: relative;
    display: block;
    margin-top: 18.5rem;
    margin-bottom: 5.3rem;
    width: 74rem;
    height: 67rem;
    box-sizing: border-box;
    /* background-color: #f0eee7; */
}

.swiper-container {}

.sw-rede .swiper-slide::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60rem;
    background-color: #f0eee7;
    z-index: -1;
}

.swiper-wrapper {}

.swiper-slide {}

.rede-1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/subway-img.png') no-repeat;
    background-position: 5.6rem 14.5rem;
}

.rede-2 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/maya-img.png') no-repeat;
    background-position: 14rem 14.2rem;
}

.rede-3 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/sun-img.png') no-repeat;
    background-position: 14rem 14.2rem;
}

.redesign-select-bg {
    position: absolute;
    right: 2.5rem;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.redesign-select-bg-sub {
    position: absolute;
    right: -8rem;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.redesign-select {
    position: relative;
    display: block;
    float: left;
    margin-left: 9rem;
    font-size: 2rem;
    font-weight: 500;
    color: #6e1652;
}

.redesign-select:first-child {
    padding-left: 10.5rem;
}

/* 퍼픞리싱 영역 */
.publishing {
    position: relative;
    display: block;
    background-color: #efd9d1;
}

.publishing .container {
    position: relative;
    display: block;
    height: 103.3rem;
}

.publishing-left {
    position: relative;
    display: block;
    float: left;
}

.publishing-box {
    position: relative;
    display: block;
    margin-top: 17rem;
    margin-bottom: 6.5rem;
    width: 76.7rem;
    height: 69.5rem;
    box-sizing: border-box;
    /* background-color: #f0eee7; */
}


.swiper-container {}

.sw-publ .swiper-slide::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60rem;
    background-color: #f0eee7;
    z-index: -1;
}


.swiper-wrapper {}

.swiper-slide {}

.publ-1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/stx-img.png') no-repeat;
    background-position: 10rem 12.5rem;
}

.publ-2 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/greenjuice-img.png') no-repeat;
    background-position: 10rem 12.5rem;
}

.publ-3 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/hansalim-img.png') no-repeat;
    background-position: 10rem 12.5rem;
}

.publ-4 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/pulmuonewater-img.png') no-repeat;
    background-position: 10rem 12.5rem;
}

.publ-5 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/nexus-img.png') no-repeat;
    background-position: 10rem 12.5rem;
}

.publishing-select-bg {
    position: absolute;
    left: 0.5rem;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.publishing-select {
    position: relative;
    display: block;
    float: left;
    margin-left: 10.7rem;
    font-size: 2rem;
    font-weight: 500;
    color: #6e1652;
}

.publishing-select:first-child {
    padding-left: 10.5rem;
}

.publishing-right {
    position: relative;
    display: block;
    float: right;
}

.publishing-main {
    position: absolute;
    right: 14.3rem;
    top: 12rem;
    display: block;
}

.publishing-main-list {
    position: relative;
    display: block;
    width: 57rem;
    height: 10rem;
    margin: 4rem 0;
}

.publishing-main-list:hover a {
    color: #6e1652;
}
.publishing-main-list-focus a{
    color: #6e1652 !important;

}

.publishing-main-list>h2 {
    position: relative;
    display: block;
    /* margin-top: 12.5rem; */
    /* margin-bottom: 1rem; */
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #6e1652;
    letter-spacing: -0.00625rem;
}

.publishing-bar {
    content: '';
    position: absolute;
    right: 0;
    top: 9rem;
    display: block;
    width: 69rem;
    height: 0.1rem;
    background-color: #f4eeed;
}

.publishing-number {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin-right: 2rem;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 2;
    color: #f4eeed;
}

.publishing-tit {
    position: absolute;
    left: 6rem;
    top: 0.5rem;
    display: block;
    font-size: 3rem;
    font-weight: 600;
    line-height: 2;
    color: #f4eeed;
}

.publishing-txt {
    position: absolute;
    left: 6rem;
    top: 6.5rem;
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75;
    color: #f4eeed;
    letter-spacing: -0.0425rem;
}

/* 기타 영역 */
.work {
    position: relative;
    height: 97rem;
    margin: 0 auto;
    background-color: #fff;
}

.work .container {
    position: relative;
    width: 121rem;
    height: 102rem;
}

.work-par {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #6e1652;
    letter-spacing: -0.00625rem;
    margin-top: 8.5rem;
}

.work-bar {
    content: '';
    position: absolute;
    right: 0;
    top: 10rem;
    display: block;
    width: 121rem;
    height: 0.1rem;
    background-color: #cccccc;
}

.work-wrap {
    position: relative;
    display: block;
}

.wrap-box {
    position: relative;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10rem;
}

.wrap-box>li {
    position: relative;
    display: block;
    width: 40rem;
    height: 32.1rem;
    margin-bottom: 2rem;
}

.wrap-box>li>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.wrap-box>li:nth-child(1) {
    background: url('../images/work-book.png') no-repeat center;
    background-size: cover;
}


.wrap-box>li:nth-child(2) {
    background: url('../images/work-phone-case.png') no-repeat center;
    background-size: cover;
}


.wrap-box>li:nth-child(3) {
    background: url('../images/work-cov.png') no-repeat center;
    background-size: cover;
}


.wrap-box>li:nth-child(4) {
    background: url('../images/work-billboard.png') no-repeat center;
    background-size: cover;
}


.wrap-box>li:nth-child(5) {
    background: url('../images/work-jun.png') no-repeat center;
    background-size: cover;
}


.wrap-box>li:nth-child(6) {
    background: url('../images/work-ticket.png') no-repeat center;
    background-size: cover;
}

.work-black {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.wrap-box>li:hover .work-black {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 217, 209, 0.8);
    opacity: 1;
}

.work-tit {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
    font-weight: 600;
    color: #613937;
    white-space: nowrap;

}

.work-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #613937;
    white-space: nowrap;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.75;
}

/* life 영역 */
.life {
    position: relative;
    display: block;
    height: 102rem;
    background-color: #efd9d1;
}

.life .container {
    position: relative;
    width: 121rem;
    height: 102rem;
    display: block;
}

.life-wrap {
    position: relative;
    display: block;
}

.life-par {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #6e1652;
    letter-spacing: -0.00625rem;
    padding-top: 8.5rem;
}

.life-box {
    position: relative;
    display: block;
    height: 70rem;
}

.life-black {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.life-box-tit {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;

}

.life-box-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    white-space: nowrap;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.75;
}

.life-box-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    cursor: default;
}

.life-box-sub-1 {
    position: absolute;
    right: 13rem;
    top: 45.5rem;
    display: block;
    cursor: default;
}

.life-box-sub-2 {
    position: absolute;
    right: 25rem;
    top: 12.5rem;
    display: block;
    cursor: default;
}

.life-box-sub-3 {
    position: absolute;
    left: 23.5rem;
    top: 50rem;
    display: block;
    cursor: default;
}

/* .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    transition: opacity 0.5s;
} */

.life-circle-ani {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 518px;
    height: 518px;
    background: url('../images/life-1.jpg') no-repeat center;
    background-size: cover;
    border-radius: 100%;
    transition: width 0.5s, height 0.5s;
    overflow: hidden;
}

.life-circle-ani:hover {
    width: 528px;
    height: 528px;
    transform: translate(-50%, -50%);
    filter: grayscale(300);
}

.life-circle-ani-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}

.life-circle-ani:hover .life-circle-ani-bg {
    opacity: 1;
}


.life-circle-ani .life-box-tit {
    opacity: 0;
    transition: opacity 0.5s 0.5s;
}

.life-circle-ani:hover .life-box-tit {
    opacity: 1;
}

.life-circle-ani .life-box-txt {
    opacity: 0;
    transition: opacity 0.5s 0.5s;
}

.life-circle-ani:hover .life-box-txt {
    opacity: 1;
}

.life-circle-ani-2 {
    width: 365px;
    height: 365px;
    background: url('../images/life-2.jpg') no-repeat center;
    background-size: cover;
}

.life-circle-ani-2:hover {
    width: 400px;
    height: 400px;
}

.life-circle-ani-3 {
    width: 208px;
    height: 208px;
    background: url('../images/life-3.jpg') no-repeat center;
    background-size: cover;
}

.life-circle-ani-3:hover {
    width: 350px;
    height: 350px;
}

.life-circle-ani-4 {
    width: 126px;
    height: 126px;
    background: url('../images/life-4.jpg') no-repeat center;
    background-size: cover;
}

.life-circle-ani-4:hover {
    width: 350px;
    height: 350px;
    transform: translate(-50%, -50%);
}

.life-txt {
    position: relative;
    display: block;
    text-align: center;
}

.life-txt-main {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.25;
    color: #6e1652;
    margin-bottom: 2rem;
}

.life-txt-sub {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    color: #6e1652;
}

/* 하단 영역 */
.contact {
    position: relative;
    display: block;
    width: 100%;
    background-color: #fff;
}

.contact .container {
    position: relative;
    width: 121rem;
    height: 90rem;
    display: block;
    text-align: center;
}

.contact-tit {
    position: relative;
    display: block;
    padding-top: 25rem;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: #6e1652;
    letter-spacing: -0.00625rem;
}

.contact-ad {
    position: relative;
    display: block;
    width: 100%;
}

.contact-txt {
    position: relative;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #6e1652;
    line-height: 1.25;
}

.barcode {
    position: relative;
    display: block;
    margin-top: 4.5rem;
}

.contact-data-bg {
    position: relative;
    display: block;
    margin-left: 5rem;
}

.contact-data {
    display: inline-block;
    text-transform: uppercase;
    background-color: #fff;
    border: 1rem solid #6e1652;
    padding: 0.43rem 2.3rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #6e1652;
    line-height: 1.25;
    border-radius: 5rem;
    margin-right: 5.8rem;
    margin-top: 4.7rem;
}